@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

textarea{
    resize: none;
}

nav{
    background-color: #cdcdcd;
    border: #000000 solid;
}

.no_space{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}
.label_nav{
    
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
}

